.option {
  width: 250px;
  height: 50vh;
  background-position: fixed;
}
.option_container {
  height: 86.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ef962d; */
  background-color: #9c5518;
}
.image {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: inherit;
  height: 130px;
  border-radius: 50%;
}

.option_list {
  list-style: none;
  padding-top: 15px;
}
.list:hover {
  border-bottom: 2px solid #faf4fa;
  padding-bottom: 5px;
}
