/* background-color: #5a3f11; */
/* #ef962d */
/* ef962d */
* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}
.dashboard {
  width: 100%;
  height: 100vh;
}
.dashboard_container {
  width: inherit;
}

.top_area {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 10%; */
  /* position: fixed; */
}

.form {
  display: flex;
}
.input {
  width: 30vw;
  height: 5vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
}

.product_details {
  color: #fff;
}
.girl_sample_product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55vh;
}
.show_case_wrapper {
  background-color: #9c5518;
}
.show_case_wrapper:hover {
  opacity: 0.4;
  cursor: pointer;
}
.custom_image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.boys_sample_product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55vh;
  margin-right: 5px;
}

.ladies_sample_product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55vh;
}
.men_sample_product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55vh;
}
.items_wrappers {
  display: flex;
  justify-content: space-around;
}
.items_b {
  display: flex;
  justify-content: space-around;
}
